name: test
on: [push, pull_request]
jobs:
  test:
    name: Build and run it
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022]
        python: [3.14]
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2.29.0
        with:
          msystem: ucrt64
          path-type: inherit
        if: ${{ startsWith(matrix.os, 'windows') }}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - shell: msys2 {0}
        run: |
          ulimit -a
          echo "==="
          ulimit -v
          echo "==="
          ulimit -v $((256*1000))
          ulimit -v
