name: test
on: [push, pull_request]
jobs:
  test:
    name: Build and run it
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15]
        python: [3.14]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - run: |
          ulimit -s
          echo "==="
          ulimit -s 4096
          ulimit -s
          echo "==="
          cc a.c
          ./a.out
